<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.golos.golos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.editor.EditorActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".screens.widgets.BarcodeScannerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.tags.TagAndUsersSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.tags.TagsCloudActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".screens.story.StoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.widgets.PhotoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.userslist.UsersListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.profile.UserProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.SplashActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"

            android:theme="@style/LauncherTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>


        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e3c157b69542160c5ec78e3e4d4c71251a4c3879" />

        <activity
            android:name=".screens.stories.FilteredStoriesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.webview.WebViewActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.SettingsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.settings.NotificationsSettingActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.main_activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"

            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />


        <activity
            android:name=".RouteActivity">

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="golos.io"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="sandbox.golos.io"
                    android:scheme="https" />
            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="golos.io"
                    android:scheme="golosioapp" />
            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="goldvoice.club"
                    android:scheme="https" />
            </intent-filter>

        </activity>


        <service android:name=".notifications.MyInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".notifications.MyFireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".screens.profile.WalletActivity"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".notifications.NotificationsBroadCastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="io.golos.golos.notifications.NOTIFICATION_KEY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>